[submodule "vendors/simpletest"]
	path = vendors/simpletest
	url = https://github.com/littleant/simpletest-1.0.1.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = https://github.com/littleant/debug_kit-1.3.git
